.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.characterCount {
    font-weight: bold;
    padding-bottom: 10px;
}

.possibleWords {
    padding-bottom: 10px;
}

.characterSelected {
    font-weight: bold;
    color: green;
}

.possibleCharacter {
    font-weight: bold;
    color: blue;
}

.resetContainer {
    text-align: center;
    width: 100%;
}

.reset {
    margin: 50px 0 0 0;
    text-align: center;
    display: inline-block;
}

.reset:hover {
    color: red;
    transition: all 0.1s linear;
    cursor:pointer;
}